{% extends "base.html" %}

{% block content %}

<div id="block-title">
    <div class="box">
        <h1 class="title is-2 has-text-primary" >Making hackathons accessible to anyone</h1>
        <br>
        <p class="has-text-left">Find out more</p>
        <a href="{{ url_for('hackathons.hackathons') }}" type="button" class="button is-info is-centered">Events</a>
        {%  if current_user.role == 'organizer' or current_user.is_anonymous %}
            <a href="{{ url_for('hackathons.create') }}" type="button" class="button is-info is-centered">Get Organizing</a>
        {% endif %}
        {% if current_user.role == 'sponsor' or current_user.is_anonymous %}
            <a href="{{ url_for('hackathons.sponsor_events') }}" type="button" class="button is-info is-centered">Get Sponsoring</a>
        {% endif %}



</div>

{% endblock %}